html body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.light {
	background-color: white;
	color: black;
}

.dark {
	background-color: black;
	color: white;
}
