html body {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	background-color: #f7fafc;
}

html.dark .wrapper {
	background-color: #0f1419;
	transition-property: background-color;
	transition-duration: 0.5s;
}
