.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	background-color: #06b6d4;
	width: 100%;
	max-width: 600px;
	min-height: 765px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 10px;
	gap: 15px;
	overflow-y: auto;
}

:global(html.dark) .container {
	background-color: #0891b2;
}

.title {
	padding-top: 10px;
	font-size: 4.5rem;
	color: rgb(98, 41, 190);
}
